<div class="boxMargins">
    <h4>Crea lista di utenti </h4>
    <h6><em>Template reference variable</em></h6>
    <form>
      <input type="text" class="form-control-sm"
            placeholder="Add User name"
            #nameRefVar
            required>

      <input type="number" class="form-control-sm"
            placeholder="Age"
            #ageRefVar
            min="1" max="120"
            required>

      <input type="text" class="form-control-sm"
            placeholder="Add city"
            #cityRefVar
            required>

      <button (click)="add(nameRefVar, ageRefVar, cityRefVar)"
              class="btn btn-dark">
              ADD
      </button>
    </form>


    <li *ngFor="let user of users">
      {{ user.name }} {{ user.age }} {{ user.city }}
    </li>
  </div>

<!-- 1way vs 2 way binding -->
<div class=boxMargins>
    <h3>ngModel: 1way vs 2 way binding</h3>
    <p>La direttiva <mark>ngModel</mark> ci permette di sincronizzare
    una <i>proprietà</i>  con un determinato campo di <i>input</i>.</p>
    <input type="text"
           placeholder="Username (minimo 3 caratteri)"
           [(ngModel)]="label"
    >
      <!-- {{ label }} -->
      <br>
      <small *ngIf="label.length < 3"
       [style.color]="'red'">Campo label troppo corto!</small>
</div>

